@import url("https://fonts.googleapis.com/css2?family=Dongle&family=Lora&family=Open+Sans:wght@300&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");

:root {
  --text: #ffffff;
  --smallertext: rgba(255, 255, 255, 0.7);
  --gray: #768088;
  --gray2: #7a7a7a;
  --black: #2e2e2e;
  --black2: #101315;
  --footerText: #efefef;
  --button: #dd783f;
}

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 500px;
  padding-left: 0%;
  padding-right: 0%;
  padding-top: 0px;
  background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url(/images/header.svg);
  border-radius: 0px;
  color: var(--text);
}

.content {
  display: flex;
  /* justify-content: center; */
  padding-left: 8rem;
  padding-top: 1.5rem;
}

.logo {
  font-size: 30px;
  line-height: 26px;
}

.logo:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.navbar {
  padding-top: 0.5rem;
  margin-left: 43rem;
}

.navbar a {
  text-decoration: none;
  color: var(--text);
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 2rem;
  margin-right: 1rem;
  padding-top: 0;
}

.navbar a:hover {
  color: var(--button);
}

.content2 {
  text-align: center;

  padding-top: 5rem;
}

.content2 h1 {
  font-size: 50px;
  line-height: 51px;
  letter-spacing: 3px;
  padding-bottom: 1.5rem;
}

.content2 p {
  font-size: 17px;
  line-height: 20px;
  padding-bottom: 2rem;
  color: var(--smallertext);
}

button {
  height: 44px;
  border-radius: 5px;
  width: 167px;
  background-color: transparent;
  border-color: var(--button);
  color: var(--text);
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.4s all ease-in-out 0s;

}
  .view:hover{
    color:var(--black2);
    border-color: var(--button);
    /* transform: none; */
    
  }
  .view::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: unset;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: var(--button);
    transition: 0.4s all ease-in-out 0s;
  }
  
  .view:hover::before{
    right: unset;
    left: 0;
    width: 100%;
  }


.container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container h3 {
  margin-left: 8rem;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray);
}

.container h3:hover {
  color: var(--button);
  cursor: pointer;
}

.post-section {
  height: 1300px;
  left: 0%;
  right: 0%;
  top: 0px;
  background: #F7F7F7;
  padding-top: 2rem;
}

.post-section h1 {
  text-align: center;
}

.post-section hr {
  margin-top: 2rem;
  margin-left: 36rem;
  margin-right: 35.5rem;
  background: #DEDEDE;
  height: 1px;

}

.posts-container {
  padding-top: 2rem;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  height: 280px;
  left: 0%;
  right: 0%;
  top: 0px;
  border-radius: 3px;


}

.post1 {
  margin-left: 2rem;
  background-image: url(/images/post1.svg);
  text-align: left;
  height: 280px;
  width: 460px;
  left: 0px;
  top: 0px;
  border-radius: 3px;


}

.posts-container h3 {
  padding-top: 10rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  font-size: 27px;
  line-height: 30px;
  color: var(--text);
}

.posts-container p {
  font-size: 14px;
  line-height: 25px;
  padding-left: 1.5rem;
  color: var(--smallertext);

}

.posts-container img {
  padding-left: 1.5rem;
  padding-top: 1rem;
}

.name {
  margin-top: -2rem;
  margin-left: 2rem;
}

.post2 {
  margin-left: 5rem;
  background-image: url(/images/post2.svg);
  height: 280px;
  height: 280px;
  width: 460px;
  left: 0px;
  top: 0px;
  border-radius: 3px;
}

.time {
  padding-top: -5rem;
  margin-top: -25px;
}

.time input {
  margin-left: 20rem;
  padding-top: -5rem;
  width: 135px;
  background-color: transparent;
  color: var(--smallertext);
  border-color: transparent;
}

.recent-container {
  margin-top: 8rem;

}

.recent-posts1 {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 50rem;
  margin-right: 5rem;

}

.recent-posts2 {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  padding-left: 10rem;
  padding-right: 50rem;
  margin-right: 5rem;
}


.recent-container h3 {
  margin-left: 1rem;
  margin-top: 1rem;
  font-size: 16px;
  line-height: 21px;
  color: #101315;
  ;
}

.recent-container p {
  margin-top: .5rem;
  margin-left: 1rem;
  font-size: 13px;
  line-height: 19px;
  color: var(--gray2);
}

.recent {
  width: 296px;
  background-color: var(--text);
  margin-left: 2rem;
  height: 305px;
}

.line .nameImg {
  margin-left: 1.5rem;
  margin-top: 2rem;
}

.line .name {
  margin-top: -1.8rem;
  margin-left: 4rem;
}

.line2 .nameImg {
  margin-left: 1.5rem;
  margin-top: 1rem;
}

.line2 .name {
  margin-top: -1.8rem;
  margin-left: 4rem;
}

.line input {
  margin-top: .2rem;
  margin-left: 13rem;
  color: var(--gray2);
}

.line2 input {
  margin-top: .2rem;
  margin-left: 13rem;
  color: var(--gray2);
}

.recent:hover {
  background-color: var(--black2);
  color: var(--text);
  transform: scale(1.2);
  cursor: pointer;
}

.recent:hover h3 {
  color: var(--text);
}

.post1:hover {
  transform: scale(1.1);
  box-shadow: #101315;
  background-image: url(/images/footer.svg);
  cursor: pointer;
}

.post2:hover {
  transform: scale(1.1);
  box-shadow: #101315;
  background-image: url(/images/footer.svg);
  cursor: pointer;
}

footer {
  background-image: url(/images/footer.svg);
  height: 378px;
}

footer h1 {
  text-align: center;
  color: var(--footerText);
  padding-top: 5rem;
}

footer hr {
  margin-top: 1rem;
  margin-left: 33rem;
  margin-right: 33.5rem;
  background: #DEDEDE;
  height: 1px;
}

footer input {
  margin-left: 25rem;
  margin-top: 2rem;
  text-align: center;
  color: #817F83;
  ;
  border-radius: 3px;
  border-color: var(--text);
  background-color: var(--text);
  height: 50px;
  width: 375px
}

footer .submit {
  height: 43px;
  left: 75%;
  right: 0%;
  top: 0px;
  width: 120px;
  background: rgba(255, 255, 255, 0.28);
  margin-left: .5rem;
  border-radius: 3px;
  border-color: rgba(255, 255, 255, 0.28);
  transition: 0.4s all ease-in-out 0s;

}

.submit:hover{
  color:var(--footerText);
  border-color: var(--black);
  /* transform: none; */
  
}
.submit::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  z-index: -1;
  background-color: var(--black);
  transition: 0.4s all ease-in-out 0s;
}

.submit:hover::before{
  top: unset;
  bottom: 0;
  height: 100%;
}


footer .head {
  background-color: rgba(35, 47, 56, 0.6);
  margin-top: 4.1rem;
  height: 89px;
}

footer h2 {
  padding-top: 1.8rem;
  margin-left: 10rem;
  font-size: 26px;
  line-height: 26px;
  color: var(--footerText);
}

footer nav {
  display: flex;
  justify-content: right;
}

footer a {
  font-size: 11px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: -10rem;
  margin-top: -1.5rem;
  color: var(--footerText);
  padding-right: 12rem;

}